# Configuration file

Durability {
    # Amount of modifiers (Second Tier) on :Armory.Chestplate.Medieval [range: 0 ~ 80, default: 107]
    I:Armory.Chestplate.Medieval=107

    # Amount of modifiers (Second Tier) on :Armory.Helmet.Medieval [range: 0 ~ 80, default: 107]
    I:Armory.Helmet.Medieval=107

    # Amount of modifiers (Second Tier) on :Armory.Leggins.Medieval [range: 0 ~ 80, default: 107]
    I:Armory.Leggins.Medieval=107

    # Amount of modifiers (Second Tier) on :Armory.Shoes.Medieval [range: 0 ~ 80, default: 107]
    I:Armory.Shoes.Medieval=107
}


